.containerContent {
  display: flex;
  margin-bottom: 200px;
}

.block__logo__text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 62.5%;
  height: 111px;
  text-align: center;
  font-size: 4.18vw;
}

.blockLeft {
  width: 70%;
  margin-right: 94px;
}

.blockRight {
  width: 100%;
}

.blockLeft__photo {
  display: flex;
  justify-content: center;
  width: 497px;
  height: 497px;
  background-color: #d9d9d9;
  margin-bottom: 20px;
}

.blockRight__title {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #d1d1d1;
  font-size: 45px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.blockLeft__description__titile {
  color: #afd5ff;
  font-weight: bold;
  font-size: 45px;
}

.blockLeft__description__text {
  font-size: 45px;
  font-weight: 400;
}

.blockRight__skills__right{
  overflow-y:auto;
}

.blockRight__subTitle {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #D9D9D9;
  font-size: 40px;
  align-items: center;
  justify-content: space-around;
}

.blockRight__skills{
  display: flex;
}

.BRS{
  width: 50%;
  height: 773px;
  background-color: #E9E9E9;
  padding: 19px 0 0 33px;
}

.blockRight__BRS--point{
  margin-bottom: 20px;
  font-size: 40px;
  width: 100%;
}


.zavod {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  font-size: 50%;
  width: 100%;
}

.zavod:hover .tooltip {
  opacity: 0.5;
  visibility: visible;
}

.BL__Container{
  display: flex;
  flex-wrap: wrap;
}

.BL{
  background-color: #D9D9D9;
  padding: 10px;
  border-radius: 25px;
  margin: 0 40px 0 0;
  margin-bottom: 20px;
}

.JS__Point,
.React_Point,
.SASS_Point,
.PHP__Point,
.MySQL__Point{
  width: max-content;
  transition: background-color 0.2s, color 0.2s;
}

.JS__Point{
  border-radius: 50%;
  padding-left: 12.7px;
  padding-right: 12.7px;
}

.JS__Point:hover{
  background-color: #bdcf20;
}
.React_Point:hover{
  background-color: #82dcff;
  color: white;
}
.SASS_Point:hover{
  background-color: #ff0077;
  color: white;
}
.PHP__Point:hover{
  background-color: #8120e2;
  color: white;
}
.MySQL__Point:hover{
  background-color: #4217af;
  color: rgb(255, 255, 255);
}
