.swiper {
    width: 100%;
    height: 100%;
    position: inherit;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next {
    opacity: 0.4;
    color: black;
    justify-content: flex-end;
}

.swiper-button-next.swiper-button-disabled {
    opacity: 0;
    justify-content: flex-end
}

.swiper-button-prev {
    opacity: 0.4;
    color: black;
    justify-content: flex-end;
}

.swiper-button-prev.swiper-button-disabled {
    opacity: 0;
    justify-content: flex-end;
}

.block__tiitleText {
    z-index: -2;
    top: -31px;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: 65vh;
    font-weight: 400;
    font-size: 96px;
    position: initial;
}




